@charset "utf-8";
.header {

    height: 100px;
    background-color:rgb(58, 128, 149);
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;

}
.Facebook {
    font-size: 42px;
    font-family: comic sans MS;
    color: white;
    font-weight: bold;
    position: relative;
    margin-left: 210px;
    top: 32px;
}
.T1 {

    position: relative;
    float: right;
    right: 190px;
    top: -38px;
    color: white;

}
.c1:hover {

    color: #85a5e8;
    cursor: pointer;
}
form {
    margin:0 auto;
    width:300px
  }
  .c2 {
    font-size: 55px; 
   
  }
  .c3 {
      font-size: 20px;
      position: relative;
      margin-left: 610px;
      top: 5px;
      font-weight: bold
  }
  button {
    padding:10px
  }